{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('_route') == 'app_login' %}
        Connectez vous
    {% elseif app.request.attributes.get('_route') == 'app_register' %}
        Inscrivez vous
    {% endif %}
{% endblock %}


{% block main %}
    {% if app.request.attributes.get('_route') == 'app_login' %}
        <main id="mainLogin">
            <h1 class="h3 mb-3 font-weight-normal">Connectez vous :</h1>
            <form method="post">
                <label for="username">Adresse mail :</label>
                <input type="text" value="" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
                <label for="password">Mot de passe :</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </br>
                <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
            </form>
            <p>Vous n'avez pas de compte ? <a href="{{ path("app_register") }}">Créer un compte</a></p>
        </main>
    {% endif %}

    {% if app.request.attributes.get('_route') == 'app_register' %}
        <main id="mainRegister">
            <h1 class="h3 mb-3 font-weight-normal">Créez un compte :</h1>
            <form method="post">
                {{ form_start(formUser) }}
                    {{ form_row(formUser.username, {
                        "label": "Nom d'utilisateur :",
                    })}}
                    {{ form_row(formUser.email, {
                        "label": "Adresse mail :",
                    })}}
                    {{ form_row(formUser.password, {
                        "label": "Mot de passe :",
                        "type": "password",
                    })}}
                    <br>
                    <button>Créer mon compte</button>
                {{ form_end(formUser)}}

            </form>
            <p>Vous avez déjà un compte ? <a href="{{ path("app_login") }}">Connectez vous</a></p>
        </main>
    {% endif %}
{% endblock %}
