{% extends 'base.html.twig' %}

{% block title %}Hello ResetPasswordController!{% endblock %}

{% block main %}
    <main id="mainResetPassword">
        
        {% if app.request.attributes.get('_route') == 'app_forgot_password' %}
            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email)}}
                <button type="submit">Envoyer</button>
            {{ form_end(requestForm) }}
        {% elseif app.request.attributes.get('_route') == 'app_reset_password' %}
            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword)}}
                <button type="submit">Envoyer</button>
            {{ form_end(resetForm) }}
        {% endif %}
    </main>
{% endblock %}
